* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}
div.header {
	background: url('../img/Basketball.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	overflow: hidden;
}
.header h1 {
	padding-top: 23vh;
	text-align: center;
	font-weight: bold;
	font-size: 100pt;
	color: white;
}
.info {
	height: 50vh;
}
.info h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
}
.box1 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	/*margin-top: 2vh;*/
	vertical-align: top;
}
td, th{
	text-align: center;
	font-size: 22pt;
}
.box2 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	margin-top: 11vh;
	vertical-align: top;
}
.box3 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	margin-top: 5vh;
	vertical-align: top;
}
div.header2 {
	background: url('../img/Tennis.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	overflow: hidden;
}
.header2 h1 {
	padding-top: 23vh;
	text-align: center;
	font-weight: bold;
	font-size: 100pt;
	color: white;
}
a {
    color: inherit;
    text-decoration: none;
}

#current_user {
	text-align: left;
	padding-right: 2%;
	text-align: center;
	color: #ecf0f1
}
img#cu_img {
	margin-top: 5pt;
	width: 50pt;
	height: 50pt;
}
.container {
	width: 80%;
}
.side_nav {
	/*margin-top: 3%;*/
	width: 20vw;
	height: 100vh;
	background: #336E7B;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	/*position: fixed;*/
}
.user_info {
	text-align: center;
	display: inline-block;
	margin-top: 5vh;
}
.user_info li {
	display: block;
	width: 20vw;
	background: #ecf0f1;
	border-bottom: white solid 1px;
	height: 8vh;
}
.user_info a {
	margin-top: 2.5vh;
	font-family: 'Monda', sans-serif;
	font-size: 15pt;
}
#logout_button {
	color: #ecf0f1;
	font-size: 23pt;
	font-style: italic;
}
.friends {
	margin-top: 15%;
	background: white;
	height: 43vh;
	overflow-y: scroll;
}
.sports {
	margin-top: 15%;
	background: white;
	height: 30vh;
	overflow-y: scroll;
}
.content {
	width: 100vw;
	height: 100vh;
	background: #22313F;
	display: inline-block;
	float: right;
	vertical-align: top;
	overflow-y: scroll;
	overflow-x: hidden;
}
nav {
	background: #AED1E6;
}
/*EVENTS*/
.events {
	margin-left: 3%;
	margin-right: 3%;
	height: 100vh;
	width: 40vw;
	display: inline-block;
	vertical-align: top;
	overflow-y: scroll;
}
.events h1 {
	color: white;
	text-align: center;
	font-weight: bold;
		color: black;
}
.event {
	background: white;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.event h4 {
	text-align: center;
	/*font-weight: bold;*/
}
.event h5 {
	text-align: center;
	font-weight: bold;
}
.event h6 {
	color: ;
	text-align: center;
}
/*EVENT MODAL*/
#modal4 {
	text-align: center;
}
/*TEAMS AND USER SPORTS*/
.teams_and_user_sports  {
	display: inline-block;
	width: 20vw;
}
/*TEAMS*/
.teams {
	height: 50vh;
	overflow-y: scroll;
	vertical-align: top;
	background: #336E7B;
	text-align: center;
}
.teams h5 {
	color: #ecf0f1;
}
.team_list {
	margin-left: 5%;
	margin-right: 5%;
}
/*SPORTS*/
.user_sports {
	display: inline-block;
	width: 47vw;
	height: 25vh;
	margin-top: 5%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
.user_sports h1 {
	text-align: center;
}
.sport {
	display: inline-block;
	vertical-align: top;
}
.sport img {
	height: 20vh;
	display: inline-block;
}
.sport p {
	text-align: center;
	font-weight: bold;
}
/*LEADERBOARD*/
.leaderboard {
	height: 35vh;
	/*width: 15vw;*/
	background: #336E7B;
	margin-bottom: 2%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.leaderboard_title {
	/*display: inline-block;*/
	text-align: center;
	height: 35vh;
	margin-left: 5%;
	margin-right: 5%;
}
.leaderboard_title h5 {
	color: #ecf0f1;
}
.collection {
	background: white;
	min-height: 30%;
	max-height: 100%;
	overflow: scroll;
}
.leaderboard_table {
	display: inline-block;
	width: 56vw;
	margin-left: 3%;
}
/*EVENTS PAGE*/
/*EVENTS CONTAINER EDITS*/

.users_in_sport {
	background: red;
	height: 55vh;
	width: 50.2vw;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.users_in_sport div.users {
	background: white;
	margin: 5%;
	padding: 10%;
	display: inline-block;
	border-radius: 50%;
}
.current_events {
	background: grey;
	height: 55vh;
	width: 49.5vw;
	display: inline-block;
}
.event_options {
	height: 50vh;
	width: 100vw;
	text-align: center;
	background: url('../img/event_options_bg.jpg');
	background-size: cover;
	background-position: 0% 70%;
}
.event_options a {
	display: inline-block;
	margin: 5%;
	margin-top: 10%;
	border-radius: 10px;
	background: white;
	font-size: 20pt;
	text-align: center;

}
.event_options h1:hover {
	cursor: pointer;
}
.modal{
	overflow-y: auto;
}
/*POSTS STYLES*/
.all_posts {
	overflow-y: scroll;
}
.posts {
	display: inline-block;
	margin-top: 5%;
	width: 59.5vw;
	vertical-align: top;
}
.post_form {
	background: white;
	border-radius: 5px;
}
.post_head {
	margin-top: 5%;
	padding-top: 1%;
}
.post {
	background: white;
	padding-bottom: 2%;
	border-radius: 5px;
}
.post_head h4 {
	display: inline-block;
}
#post_user_pic {
	width: 30pt;
	height: 30pt;
	margin-left: 1%;
}
.post_content p {
	margin-left: 2%;
}
