* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
body {
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
#current_user {
    text-align: right;
    padding-right: 2%;
}
div.select_container {
    height: 98vh;
    overflow: hidden;
    overflow: scroll;
}
div.option {
    height: 200pt;
}
.option h1 {
    text-align: center;
    color: white;
    padding-top: 6%;
    font-size: 50pt;
}
#option1 {
    background: url('../img/games_bg.gif');
    background-size: cover;
    background-position: 0% 20%;
}
#option2 {
    background: url('../img/teams_bg.gif');
    background-size: cover;
    background-position: 0% 25%;
}
#option3 {
    background: url('../img/sports_bg.gif');
    background-size: cover;
    background-position: 0% 35%;
}
#option4 {
    background: url('../img/friends_bg.gif');
    background-size: cover;
    background-position: 0% 55%;
}
#option5 {
    background: url('../img/chat_bg.gif');
    background-size: cover;
    background-position: 0% 55%;
}
/*SPORT.HTML EDITS*/
.no_sports {
    height: 450pt;
    background-color: gray;
    text-align: center;
}
.no_sports h1 {
    padding-top: 15%;
}
.current_sports {
    width: 3000pt;
}
.selected_sports {
    height: 450pt;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 3000pt;
    background-color: yellow;
}
.selected_sport {
    height: 350pt;
    display: inline-block;
    background: pink;
    padding: 3% 3%;
    margin-left: 5%;
    text-align: center;
    width: 50px;
}
.select_sport {
    height: 30vh;
    /*background: pink;*/
    overflow: scroll;
}
.not_selected {
    height: 70%;
    text-align: center;
    border: 1px white solid
}
.not_selected h2 {
    padding-top: 3%;
    font-size: 50pt;
    color: white;
}
.Soccer {
    background: url('../img/Soccer.jpg');
    background-size: cover;
    background-position: center;

}
.Soccer:hover {
    cursor: pointer;
    background-size: 120%;
}
.Baseball {
    background: url('../img/Baseball.jpg');
    background-size: cover;

}
.Baseball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Basketball {
    background: url('../img/Basketball.jpg');
    background-size: cover;
    background-position: 70% 50%;

}
.Basketball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Bowling {
    background: url('../img/Bowling.jpg');
    background-size: cover;
    background-position: 0% 35%;
}
.Bowling:hover {
    cursor: pointer;
    background-size: 120%;
}
.Dodgeball {
    background: url('../img/Dodgeball.jpg');
    background-size: cover;
    background-position: center;

}
.Dodgeball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Golf {
    background: url('../img/Golf.jpg');
    background-size: cover;
    background-position: 0% 67%;

}
.Golf:hover {
    cursor: pointer;
    background-size: 120%;
}
.Ice {
    background: url('../img/Ice Hockey.jpg');
    background-size: cover;
    background-position: 0% 40%;
}
.Ice:hover {
    cursor: pointer;
    background-size: 120%;
}
.Tennis {
    background: url('../img/Tennis.jpg');
    background-size: cover;
    background-position: 0% 30%;

}
.Tennis:hover {
    cursor: pointer;
    background-size: 120%;
}
.Volleyball {
    background: url('../img/Volleyball.jpg');
    background-size: cover;
    background-position: 0% 40%;

}
.Volleyball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Football {
    background: url('../img/Football.jpg');
    background-size: cover;
    background-position: center;
}
.Football:hover {
    cursor: pointer;
    background-size: 120%;
}
