* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	overflow: hidden;
}
div.header {
	background: url('../img/Basketball.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	overflow: hidden;
}
.header h1 {
	padding-top: 23vh;
	text-align: center;
	font-weight: bold;
	font-size: 100pt;
	color: white;
}
.info {
	height: 50vh;
}
.info h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
}
.box1 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	/*margin-top: 2vh;*/
	vertical-align: top;
}
td, th{
	text-align: center;
	font-size: 22pt;
}
.box2 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	margin-top: 11vh;
	vertical-align: top;
}
.box3 {
	background: #80cbc4;
	height: 35vh;
	width: 20vw;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	border-radius: 3px;
	margin-top: 5vh;
	vertical-align: top;
}
div.header2 {
	background: url('../img/Tennis.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	overflow: hidden;
}
.header2 h1 {
	padding-top: 23vh;
	text-align: center;
	font-weight: bold;
	font-size: 100pt;
	color: white;
}
a {
    color: inherit;
    text-decoration: none;
}
#current_user {
    text-align: left;
    padding-right: 2%;
}
.side_nav {
	width: 15vw;
	height: 100vh;
	background: #AED1E6;
	display: inline-block;
}
.user_info {
	text-align: center;
	display: inline-block;
	margin-left: 1.5vw;
}
#current_user {
	margin-top: 5vh;
	text-align: center;
}
.friends {
	margin-top: 15%;
	background: white;
	height: 43vh;
	overflow-y: scroll;
}
.sports {
	margin-top: 15%;
	background: white;
	height: 30vh;
	overflow-y: scroll;
}
.content {
	width: 85vw;
	height: 100vh;
	background: #F0F7EE;
	display: inline-block;
	float: right;
	vertical-align: top;
	overflow-y: scroll;
}
.content nav {
	background: #AED1E6;
}
i {
	color: black;
}
/*EVENTS*/
.events {
	margin: 3%;
	height: 85vh;
	width: 30vw;
	display: inline-block;
	vertical-align: top;
	background: rgba(0, 0, 0, 0.4);

}
.events h1 {
	color: white;
	text-align: center;
	font-weight: bold;
}
.event h5 {
	color: white;
	text-align: center;
	font-weight: bold;
}
.event h6 {
	color: white;
	text-align: center;
}
/*TEAMS AND USER SPORTS*/
.teams_and_user_sports  {
	display: inline-block;
	width: 48vw;
	margin-top: 3%;
	border-radius: 5px;
}
/*TEAMS*/
.teams {
	height: 55vh;
	overflow-y: scroll;
	vertical-align: top;
	background: #07A0C3;
}

/*SPORTS*/
.user_sports {
	display: inline-block;
	width: 48vw;
	max-height: 25vh;
	margin-top: 5%;
	vertical-align: top;
	overflow-x: scroll;
	overflow-y: hidden;
}
.sport {
	display: inline-block;
	vertical-align: top;
}
.sport img {
	height: 20vh;
	display: inline-block;
}
.sport p {
	text-align: center;
	font-weight: bold;
}
/*SPORT.HTML EDITS*/
.no_sports {
    height: 450pt;
    background-color: gray;
    text-align: center;
}
.no_sports h1 {
    padding-top: 15%;
}
.current_sports {
    /*width: 3000pt;*/
	overflow: scroll;
}
.selected_sports {
    height: 450pt;
    overflow-y: scroll;
	text-align: center;
    /*background-color: yellow;*/
}
.selected_sport {
    height: 250pt;
    display: inline-block;
    background: pink;
	border-radius: 50%;
    /*padding: 3% 3%;*/
    margin: 5%;
    text-align: center;
    width: 250pt;
}
.selected_sport h1 {
	padding-top: 40%;
	color: white;
}
.selected_sport button:hover {
	cursor: pointer;
}
.select_sport {
    height: 30vh;
    /*background: pink;*/
    overflow: scroll;
}
.not_selected {
    height: 70%;
    text-align: center;
    border: 1px white solid
}
.not_selected h2 {
    padding-top: 3%;
    font-size: 50pt;
    color: white;
}
.Soccer {
    background: url('../img/Soccer.jpg');
    background-size: cover;
    background-position: center;

}
.Soccer:hover {
    cursor: pointer;
    background-size: 120%;
}
.Baseball {
    background: url('../img/Baseball.jpg');
    background-size: cover;

}
.Baseball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Basketball {
    background: url('../img/Basketball.jpg');
    background-size: cover;
    background-position: 70% 50%;

}
.Basketball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Bowling {
    background: url('../img/Bowling.jpg');
    background-size: cover;
    background-position: 0% 35%;
}
.Bowling:hover {
    cursor: pointer;
    background-size: 120%;
}
.Dodgeball {
    background: url('../img/Dodgeball.jpg');
    background-size: cover;
    background-position: center;

}
.Dodgeball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Golf {
    background: url('../img/Golf.jpg');
    background-size: cover;
    background-position: 0% 67%;

}
.Golf:hover {
    cursor: pointer;
    background-size: 120%;
}
.Ice {
    background: url('../img/Ice Hockey.jpg');
    background-size: cover;
    background-position: 0% 40%;
}
.Ice:hover {
    cursor: pointer;
    background-size: 120%;
}
.Tennis {
    background: url('../img/Tennis.jpg');
    background-size: cover;
    background-position: 0% 30%;

}
.Tennis:hover {
    cursor: pointer;
    background-size: 120%;
}
.Volleyball {
    background: url('../img/Volleyball.jpg');
    background-size: cover;
    background-position: 0% 40%;

}
.Volleyball:hover {
    cursor: pointer;
    background-size: 120%;
}
.Football {
    background: url('../img/Football.jpg');
    background-size: cover;
    background-position: center;
}
.Football:hover {
    cursor: pointer;
    background-size: 120%;
}
/*EVENTS PAGE*/
/*EVENTS CONTAINER EDITS*/

.users_in_sport {
	background: red;
	height: 55vh;
	width: 50.2vw;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.users_in_sport div.users {
	background: white;
	margin: 5%;
	padding: 10%;
	display: inline-block;
	border-radius: 50%;
}
.current_events {
	background: grey;
	height: 55vh;
	width: 49.5vw;
	display: inline-block;
}
.event_options {
	height: 50vh;
	width: 100vw;
	text-align: center;
	background: url('../img/event_options_bg.jpg');
	background-size: cover;
	background-position: 0% 70%;
}
.event_options a {
	display: inline-block;
	margin: 5%;
	margin-top: 10%;
	border-radius: 10px;
	background: white;
	font-size: 20pt;
	text-align: center;

}
.event_options h1:hover {
	cursor: pointer;
}
