<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {%load staticfiles%}
        <!-- MATERIALIZE -->
        <link rel="stylesheet" href="{% static 'play/css/materialize.min.css' %}">
        <!-- ICONS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- JQUERY -->
        <script type="text/javascript" src="{%static 'play/js/jquery-3.2.1.min.js'%}">
        </script>
        <!-- MATERIALIZE JQ -->
        <script type="text/javascript" src="{%static 'play/js/materialize.min.js'%}">
        </script>
        <!-- STYLES -->
        <link rel="stylesheet" href="{% static 'play/css/styles.css' %}">
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{%static 'play/js/script.js'%}">
        </script>
        <script type="text/javascript" src="{%static 'play/js/chat.js'%}">
        </script>

        <meta charset="utf-8">
        <title>Play</title>
    </head>
    <body>
        {%block content%}
        {%endblock%}
    </body>
</html>
