{%extends 'play/block_content.html'%}
{%block content%}

      <div class="content hide-on-med-and-down">
          <div class="col 12">
              <!-- SIDEBAR -->
              <div class="side_nav z-depth-3 ">
                  <div class="user_info">
                      <!-- <div class="col s3"> -->
                          {%load static%}
                          <img class="responsive-img circle" id="cu_img" src="{%static 'play/img/default_user_image.jpg' %}" alt="Default Image">
                          <h5 id="current_user">   {{current_user.first_name}} {{current_user.last_name}}
                          </h5>
                          {%if current_user%}
                          <ul>
                              <li><a class="waves-effect waves-light" href="/home">Home</a></li>
                              <li><a class="waves-effect waves-light modal-trigger" href="#modal4">My Events</a></li>
                              <li><a class="waves-effect waves-light modal-trigger" href="#modal1">Create Team</a></li>
                              <li><a class="waves-effect waves-light modal-trigger" href="#modal2">Create Game</a></li>
                              <li><a class="waves-effect waves-light modal-trigger" href="#modal3">Chat</a></li>
                          </ul>
                          <a id="logout_button" class="waves-effect waves-light" href="/logout">Logout</a>
                          {%endif%}
                      <!-- </div> -->
                  </div>
              </div>
              <!-- MODAL 1 -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Create A New Team</h4>
                        <form class="" action="/add_team" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="title" placeholder="Team Name">
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <select class="scrollable" name="sport">
                                    <option value="" disabled selected>Choose your Sport</option>
                                    {%for sport in sports%}
                                    <option value="{{sport.id}}">{{sport.name}}</option>
                                    {%endfor%}
                                </select>
                                <label>Select Sport</label>
                            </div>
                            <div class="input-field col s12">
                                <select multiple>
                                    <option disabled selected>Choose your Teammates</option>
                                    {%for user in users%}
                                        <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                                    {%endfor%}
                                </select>
                                <label>Select Teammates</label>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                                <a class="modal-action modal-close waves-effect waves-green btn-flat"><input type="submit" value="Create"></a>
                            </div>
                        </form>
                    </div>
                </div>
              <!-- END MODAL 1 -->
              <!-- MODAL 2 -->
                <div id="modal2" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Create A New Game</h4>
                        <form id="add_event" class="col s12" action="/add_event" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s6">
                                    <input name="name" placeholder="Game Title" id="name" type="text" class="validate">
                                </div>
                                <div class="input-field col s3">
                                    <input name="date" id="datetime" type="text" class="validate datepicker" placeholder="Date">
                                </div>
                                <div class="input-field col s3">
                                    <input name="time" id="datetime" type="text" class="validate timepicker" placeholder="Time">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <select name="sport">
                                        <option value="" disabled selected>Choose Sport</option>
                                        {%for sport in sports%}
                                        <option value="{{sport.id}}">{{sport.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="row"> -->
                                <div class="input-field col s4">
                                    <select multiple name="teams">
                                        <option value="" disabled selected>Choose Teams(If applicable)</option>
                                        {%for team in teams%}
                                        <option value="{{team.id}}">{{team.title}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="input-field col s4">
                                    <select id="players" multiple name="players">
                                        <option value="" disabled selected>Choose Players(If applicable)</option>
                                        {%for user in users%}
                                        <option value="{{user.id}}">{{user.first_name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="search_term" type="text" name="location" placeholder="Location">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="description" class="materialize-textarea"></textarea>
                                    <label for="description">Description</label>
                                </div>
                            </div>

                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                                <input class="modal-action modal-close waves-effect waves-green btn-flat " type="submit" value="Submit">
                            </div>
                        </form>
                </div>
              <!-- END MODAL 2 -->
              <!-- MODAL 3 -->
                <div id="modal3" class="modal">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
              <!-- END MODAL 3 -->
              <!-- MODAL 4 -->
                <div id="modal4" class="modal">
                    <div class="modal-content">
                        <h4>Your Events</h4>
                        <!-- EVENTS -->
                        <div class="events">
                            {%for event in events%}
                            <div class="event z-depth-1">
                                <h5>{{event.name}}</h5>
                                <h4>{{event.sport.name}}</h4>
                                <h5>{{event.location}}
                                </h5>
                                <h5>Hosted by {{event.user.first_name}}</h5>
                                <h6>{{event.description}}</h6>
                                <h6>{{event.date}}</h6>
                                <h6>@ {{event.time}}</h6>
                                <h5>Other Players</h5>
                                {%for user in event.users.all%}
                                <h6>{{user.first_name}}</h6>
                                {%endfor%}
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
              <!-- END MODAL 4 -->
              <!-- POSTS -->
              <div class="posts container">
                  <div class="post_form container z-depth-3">
                    <div class="row">
                        <form class="col s12 container" action="/make_post" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" placeholder="Post about your recent games and latest sports news..." name="content"></textarea>
                                    <input type="submit" value="Post" class="btn">
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                  <div class="all_posts container">
                      {%for post in posts%}
                      <div class="post z-depth-3">
                          <div class="post_head">
                              <img id="post_user_pic" src="{%static 'play/img/default_user_image.jpg' %}" alt="" class="circle responsive-img">
                              <h4>{{post.user.first_name}} {{post.user.last_name}}</h4>
                          </div>
                          <div class="post_content">
                              <p>{{post.content}}</p>
                          </div>
                      </div>
                      {%endfor%}
                  </div>
              </div>
              <!-- END POSTS -->
              <div class="teams_and_user_sports">
                  <!-- LEADERBOARD -->
                  <div class="leaderboard z-depth-4">
                      <div class="leaderboard_title">
                          <h5>Leaderboard</h5>
                            <ul class="collection">
                                {%for user in users%}
                                <li class="collection-item">{{user.first_name}} {{user.last_name}}</li>
                                {%endfor%}
                            </ul>
                      </div>
                  </div>
                  <!-- TEAMS -->
                  <div class="teams z-depth-4">
                      <h5>My Teams</h5>
                      <div class="team_list">
                          <ul class="collection">
                              {%if teams|length == 0%}
                              <li class="collection-item">No Teams</li>
                              {%else%}
                                {%for team in teams%}
                                    <li class="collection-item">{{team.title}}</li>
                                {%endfor%}
                              {%endif%}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<!-- ************MOBILE PLAY APP********** -->
      <div class="play_mobile show-on-medium-and-down">
        <div class="play_mobile_content">
            <!-- MOBILE POSTS -->
            <!-- POSTS -->
            <div class="mobile_posts">
                <div class="mobile_all_posts container">
                    {%for post in posts%}
                    <div class="mobile_post z-depth-3">
                        <div class="post_head">
                            <img id="post_user_pic" src="{%static 'play/img/default_user_image.jpg' %}" alt="" class="circle responsive-img">
                            <h4>{{post.user.first_name}} {{post.user.last_name}}</h4>
                        </div>
                        <div class="post_content">
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <!-- END POSTS -->
            <!-- END MOBILE POSTS -->
            <div class="mobile_nav">
                <div class="nav_button1">
                    <p class="nav_icon1">
                        <i class="fa fa-home fa-5x" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="nav_button2">
                    <p class="nav_icon2">
                        <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="nav_button3">
                    <p class="nav_icon3">
                        <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="nav_button4">
                    <p class="nav_icon4">
                        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
      </div>
      <script type="text/javascript">
          function activatePlacesSearch() {
              let input = document.getElementById('search_term');
              let autocomplete = new google.maps.places.Autocomplete(input);
          }
      </script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv2asEHOwHeEb1a5I5mqmljY8cLc8bJwc&libraries=places&callback=activatePlacesSearch"></script>

{%endblock%}
